        <style type="text/css">
          
            #top-bar {
                
                width: 1000px;
                margin: 0 auto;
                height: 40px;
            }
            
            body {
                margin: 0;
                padding: 0;
                font-family: Helvetica, Arial, sans-serif;
            }
            
            #logo {
                margin-top: 8px;
                width: 100px;
                float: left;
                margin-right: 8px;
                
            }
            
            
            .topbar-section {
                float: left;
                border-left: 1px #CCCCCC solid;
                height: 100%;
            }
            
            #signin-image {
                width: 25px;
                margin: 12px 15px ;
                float: left;
            }
            
            #signin-text {
                
                font-weight: bold;
                font-size: 90%;
               position: relative;
                top: 12px;
                padding-right: 50px;
            }
            
            #squig-line {
                float: left;
                height: 40px;
            }
            
            #bell {
               height: 26px; 
                margin: 7px 7px;
                
            }
            
            #bell-div {
                float: left;
    
            }
            
            .topbar-menu {
                font-weight: bold;
                font-size: 90%;
                padding: 13px 15px 0 15px;
                height: 27px;
                
                
            }
            
            #searchbox {
                background-color: #E4E4E4;
                border: none;
                font-weight: bold;
                font-size: 14px;
                padding: 5px;
                margin: 7px 0 5px 0px;
                float: left;
                
            }
            
            #glass {
                
                height: 26px;
                margin-top: 7px;
                
            }
            
            .clear {
               clear: both; 
            }
            
            #menu-bar-container {
                border-top: 1px solid #CCCCCC;
                background-color: #BB1919;
                width: 100%;
                height: 70px;
            }
            
            #menu-bar {
                width: 1000px;
                margin: 0 auto;
                
            }
            
            h1 {
                padding: 0;
                margin: 0;
                color: white;
                font-size: 40px;
                font-weight: normal;
                padding-top: 10px;
                
            }
            
            #local-news {
                color: white;
                font-weight: bold;
                top: 300px;
                border: 1px #BB4545 solid;
                float: right;
                width: 175px;
                padding: 5px 5px 0 10px;
                height: 26px;
                margin: 2px 10px 0 0;
                text-decoration: none;
               
              
                
                
            }
            

            
            #local-news a {
                color: white;
                text-decoration: none;
                font-size: 25px;
                position: relative;
                text-decoration: none;
                top: -40px;
               
            }
            
            #local-news a:hover {
                text-decoration: underline;
            }
            
            #menu-bar2-container {
                background-color:#A91717;
                width: 100%;
                
            }
            
            #menu-bar2 {
                width: 1000px;
                margin: 0 auto;
                height: 40px;
            }
            
            #menu-bar2 a {
                color: white;
                text-decoration: none;
                padding: 0 10px;
                border: 1px solid #BB4545;
                font-size: 15px;
                position: relative;
                top: 10px;
                
                
            }
            
            #menu-bar2 a:hover {
                
                text-decoration: underline;
            }
            
            .noborder {
            border: none !important;
            }
            
            
            #page-container {
                
                width: 1000px;
                margin: 0 auto;
            }
            
            h2 {
                font-weight: normal;
                margin-top: 40px;
                font-size: 20px;
                border-bottom: 2px solid #A91717;
                width: 103px;
                padding-left: 10px;
                
            }
            
            h3 a {
                color: black;
                font-size: 30px;
                text-decoration: none;
                padding-left: 10px;
                
            }
            
            h3 a:hover {
                color: #1167A8;
                
            }
            
            #article-summary {
                color: #5a5a5a;
                width: 250px;
                float: left;
                padding-left: 10px;
            }
            
            #topic-link {
                color: #A91717;
                text-decoration: none;
                border-left: 1px solid #CCCCCC;
                padding-left: 10px;
            }
            
              #article-summary a:hover {
                color: #1167A8;
            }
            
            .date {
                padding-left: 10px;
                color: #5a5a5a
            }
            
            #article-container {
                float: left;
                width: 650px;
                border-right: 1px solid #CCCCCC;
            }
            
            #main-article-img {
                width: 350px;
                padding-left: 5px;
            }
            
            #article-text {
                padding-left: 10px;
            }
            
            #article-hr {
                border-top: 1px solid #a91717;
                width: 50px;
                
            }
            
            .article-link {
                
                color: black;
                text-decoration: none;
                
            }
            
            .watch-listen-link a {
               
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 18px;
                
            }
            
            .watch-listen-link:hover {
                color: #1167A8;
            }
            
            #watch-listen {
                margin-left: 20px;
                width: 280px;
                float: right;
                
            }
            
            h4 {
                font-weight: normal;
                font-size: 20px;
            }
            
        
            .article-side-image {
                margin-right: none;
                float: right;
                width: 90px;
            }
            
            
            .side-article {
                float: right;
                width: 180px;
                position: relative;
                top: -15px;
            }

            
        </style>